<div class="container mt-4">
  <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top shadow-sm">
    <div class="container-fluid">

      <!-- LOGO -->
      <a class="navbar-brand d-flex align-items-center" href="/">
        <img
          src="{{ .Params.header.logo }}"
          alt="Logo"
          width="80"
        >
      </a>

      <!-- MOBILE TOGGLE -->
      <button
        class="navbar-toggler ms-auto"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- MENU -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav align-items-lg-center">

          {{ range .Params.header.menu }}
          <li class="nav-item">
            <a
              class="nav-link {{ if .active }}active{{ end }}"
              href="{{ .url }}"
            >
              {{ .title }}
            </a>
          </li>
          {{ end }}

        </ul>
      </div>

    </div>
  </nav>
</div>
<section class="hero-section mt-2">
  <div class="hero-overlay"></div>

  <div class="container h-100">
    <div class="row h-100 align-items-start">
      <div class="col-12 text-center pt-5">

        <h1 class="hero-title">
          {{ .Params.hero.title }}
        </h1>

      </div>
    </div>
  </div>
</section>
