.gallery-title{
  text-align:center;
  font-size:48px;
  margin-bottom:50px;
  color:#fff;
}

.continent-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:30px;
}

.continent-card{
  position:relative;
  overflow:hidden;
  border-radius:20px;
}

.continent-card img{
  width:100%;
  height:350px;
  object-fit:cover;
  transition:.4s;
}

.continent-card:hover img{
  transform:scale(1.1);
}

.overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,.4);
  display:flex;
  align-items:center;
  justify-content:center;
}

.overlay h2{
  color:#fff;
  font-size:32px;
}


/* cuntry */
.country-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:30px;
}

.country-card{
  position:relative;
  overflow:hidden;
  border-radius:20px;
}

.country-card img{
  width:100%;
  height:350px;
  object-fit:cover;
  transition:.4s;
}

.country-card:hover img{
  transform:scale(1.1);
}

/* single image css */
.image-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:25px;
}

.gallery-item{
  overflow:hidden;
  border-radius:20px;
}

.gallery-item img{
  width:100%;
  height:320px;
  object-fit:cover;
  cursor:pointer;
  transition:.4s;
}

.gallery-item:hover img{
  transform:scale(1.08);
}

/* LIGHTBOX */

#lightbox{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.95);
  display:none;
  align-items:center;
  justify-content:center;
  z-index:99999;
}

#lightbox img{
  max-width:90%;
  max-height:90vh;
  border-radius:10px;
}

.close-btn,
.prev-btn,
.next-btn{
  position:absolute;
  color:#fff;
  font-size:60px;
  cursor:pointer;
  user-select:none;
  z-index:100000;
}

.close-btn{
  top:20px;
  right:40px;
}

.prev-btn{
  left:40px;
  top:50%;
  transform:translateY(-50%);
}

.next-btn{
  right:40px;
  top:50%;
  transform:translateY(-50%);
}