{{ define "main" }}

<section class="gallery-page">

  <div class="container">

    <h1 class="gallery-title">Galleries</h1>

    <div class="continent-grid">

      {{ range .Sections }}

      <a href="{{ .RelPermalink }}" class="continent-card">

        <img
          src="{{ .Params.image }}"
          alt="{{ .Title }}"
          class="continent-image"
        >

        <div class="overlay">
          <h2>{{ .Title }}</h2>
        </div>

      </a>

      {{ end }}

    </div>

  </div>

</section>

{{ end }}