{{ define "main" }}
<section class="container py-5">
  <h1 class="text-center mb-5">{{ .Title }}</h1>

  <div class="row justify-content-center">
    {{ range .Pages }}
      <div class="col-md-3 mb-4">
        <a href="{{ .RelPermalink }}" class="card shadow border-0">
          {{ with .Params.cover }}
            <img src="{{ . }}" class="card-img-top">
          {{ end }}
          <div class="card-body text-center">
            <h6>{{ .Title }}</h6>
          </div>
        </a>
      </div>
    {{ end }}
  </div>
</section>
{{ end }}
