{{ define "main" }}

<section class="country-page">

  <div class="container">

    <h1 class="gallery-title">{{ .Title }}</h1>

    <div class="country-grid">

      {{ range .Pages }}

        {{ if .Params.cover }}

          {{ $cover := .Resources.GetMatch .Params.cover }}

          {{ if $cover }}

          <a href="{{ .RelPermalink }}" class="country-card">

            <img
              src="{{ $cover.RelPermalink }}"
              alt="{{ .Title }}"
              class="country-image"
            >

            <div class="overlay">
              <h2>{{ .Title }}</h2>
            </div>

          </a>

          {{ end }}

        {{ end }}

      {{ end }}

    </div>

  </div>

</section>

{{ end }}