.navbar-brand {
    font-weight: 600;
}

.navbar-brand img {
    /* border-radius: 50%; */
    position: relative;
    left: 90px;
}

.nav-link {
    font-weight: 500;
}

.nav-link:hover {
    color: #007bff !important;
}

/* Custom styling for mobile menu */
@media (max-width: 991.98px) {
    .navbar-collapse {
        background-color: white;
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        margin-top: 0.5rem;
    }
}

/* Hero section styling */

.hero-section {
  position: relative;
  min-height: 90vh;
  background-image: url("../images/hero/Gallery/Gallery/Antarctica/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* dark overlay for text readability */
.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.089);
}

/* hero text */
.hero-title {
  position: relative;
  z-index: 2;
  color: #021647;
  font-weight: 700;
  line-height: 1.15;
  font-size: clamp(2.2rem, 5vw, 3.8rem);
}
 
.hero-section h1 {
  font-size: 5rem;
}