{{ define "main" }}

{{ partial "hero.html" . }}

<!-- group travel card for home page -->
<section class="home-group-travel">
    <div class="container">
        <h2 class="text-center">Tours We Offer at the Moment</h2>

        <p class="group-des text-center">
            From group adventures to private escapes, travel your way with comfort and care
        </p>

        {{ partial "group-travel-cards.html" . }}

        <div style="text-align:center; margin-top:30px;">
            <a href="/group-travel/" class="btn">
                View All Tours
            </a>
        </div>
    </div>



</section>

{{/* {{ partial "story.html" . }} */}}
{{ partial "services.html" . }}
{{partial "products.html" .}}
{{ end }}