:root {
  --primary: #1e88e5;
  --dark: #021647;
  --light: #f8fafc;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--dark);
  background: #fff;
}

h1, h2, h3, h4 {
  font-family: "Style Script", cursive;
}

a {
  text-decoration: none;
  color: inherit;
}
