{{ $footer := site.GetPage "_global/footer" }}

<footer class="site-footer">
  <div class="container">

    <!-- BRAND -->
    <div class="row mb-4">
      <div class="col text-center">
        <h4 class="footer-brand">
          {{ $footer.Params.brand }}
        </h4>

        <div class="footer-social mt-3">
          {{ range $footer.Params.social }}
            <a href="{{ .link }}" aria-label="{{ .label }}" target="_blank">
              <span class="material-icons-outlined">{{ .icon }}</span>
            </a>
          {{ end }}
        </div>
      </div>
    </div>

    <!-- NAV -->
    <div class="row mb-4">
      <div class="col text-center">
        <ul class="footer-nav">
          {{ range $footer.Params.nav }}
            <li>
              <a href="{{ .url }}">{{ .title }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>

    <!-- COPYRIGHT -->
    <div class="row">
      <div class="col text-center small text-muted">
        <p>{{ $footer.Params.copyright }}</p>
        <p>{{ $footer.Params.credit }}</p>
      </div>
    </div>

  </div>
</footer>
