<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top shadow-sm">
  <div class="container">

    <!-- LOGO -->
    <a class="navbar-brand" href="/">
      <img src="{{ .Site.Params.logo }}" alt="Logo" height="40">
    </a>

    <!-- MENU -->
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">

        {{ $menu := site.Data.menu.main | default (slice) }}
        {{ range sort $menu "weight" "asc" }}
          <li class="nav-item">
            <a
              class="nav-link {{ if eq $.RelPermalink .url }}active{{ end }}"
              href="{{ .url }}">
              {{ .title }}
            </a>
          </li>
        {{ end }}

      </ul>
    </div>

  </div>
</nav>
