<section class="story-section position-relative">
  <div class="story-overlay"></div>

  <div class="container position-relative">
    <div class="row align-items-start">

      <!-- TEXT COLUMN -->
      <div class="col-lg-7 col-md-12">
        <h2 class="story-title mb-3"> {{ .Params.story.title }}</h2>

       {{ range .Params.story.paragraphs }}
          <p>{{ . }}</p>
        {{ end }}
      </div>

      <!-- IMAGE COLUMN -->
      <div class="col-lg-5 col-md-12 story-images">
      <div class="story-img img-top mb-4">
      <img 
        src="{{ .Params.story.images.top }}"
        alt="Travel adventure"
      >
      </div>


        <div class="story-img img-bottom">
          <img src="{{ .Params.story.images.bottom }}" alt="Travel memories">
        </div>
      </div>

    </div>
  </div>
</section>
