{{ define "main" }}
<section class="group-travel">
  <h2>Tours We Offer at the Moment</h2>
  <p class="group-des" style="text-align: center;">From group adventures to private escapes, travel your way with comfort and care</p>
  <div class="travel-grid">
    {{ range .Pages }}
    <div class="travel-card">

      <img src="{{ .Params.image }}" alt="{{ .Title }}">

      <div class="travel-info">
        <h3>{{ .Title }}</h3>
        <p>{{ .Params.description }}</p>

        <p class="price">From {{ .Params.price }}</p>

        <a href="{{ .RelPermalink }}" class="btn">
          Book Now
        </a>

      </div>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}