{{ define "main" }}

<div class="container">

  <!-- Image -->
  <img src="{{ .Params.image }}" width="50%" height="auto" alt="{{ .Title }}">

  <!-- Title -->
  <h1>{{ .Title }}</h1>

  <!-- Description -->
  <div>
    {{ .Content }}
  </div>


  <!-- Tabs -->
  <div class="tabs">
    <button class="tab-btn active" data-tab="tab1">Day-by-Day</button>
    <button class="tab-btn" data-tab="tab2">Why Travel With Us</button>
    <button class="tab-btn" data-tab="tab3">FAQ</button>
    <button class="tab-btn" data-tab="tab4">Fees</button>
  </div>

  <!-- Tab Content -->
<div id="tab1" class="tab-content active">
  {{ .Params.day_by_day | markdownify }}
</div>

<div id="tab2" class="tab-content">
  {{ .Params.why_chose_us | markdownify }}
</div>

<div id="tab3" class="tab-content">
  {{ .Params.faq | markdownify }}
</div>

<div id="tab4" class="tab-content">
  {{ .Params.fees | markdownify }}
</div>

</div>

<!-- FLOATING PRICE + BOOK BUTTON -->
<div class="floating-book">

  <div class="price-box">
    <span class="tour-price">
      ₹{{ .Params.price }}
    </span>

    <a href="{{ .Params.buy_link }}" target="_blank">
      Book Now
    </a>

  </div>

</div>

<!-- JS -->
<script>
document.addEventListener("DOMContentLoaded", function () {

  const buttons = document.querySelectorAll(".tab-btn");
  const tabs = document.querySelectorAll(".tab-content");

  buttons.forEach(btn => {

    btn.addEventListener("click", function () {

      buttons.forEach(b => b.classList.remove("active"));
      tabs.forEach(t => t.classList.remove("active"));

      btn.classList.add("active");

      document.getElementById(btn.dataset.tab).classList.add("active");

    });

  });

});
</script>

{{ end }}